# Node
node_modules
.pnpm-store
.next
dist
coverage

# Env
.env*

# Logs
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

# Misc
.DS_Store
.husky/_

# Playwright (future)
playwright-report
test-results