@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 16px;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-neutral-900 antialiased;
}

.dark body {
  @apply bg-neutral-900 text-neutral-100;
}
